.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

html { 
  /*
  background: url(bg.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.App-link {
  color: #09d3ac;
}
